.pbtn {
  background-color: #217A7E;
  color: #FFFFFF;
  border-radius: 7px;
  box-shadow: 0 0 0 !important;
  outline: 0 !important;
  border: solid 2px#217A7E;
  top: 0.2rem;
  right: 0.2rem;
  line-height: 2rem;
  text-transform: capitalize;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
  margin: 9px;
  width: 150px;
  height: 50px;
}

.pbtn:hover {

  background-color: #d4bb93;
  border: solid 2px #217A7E;
  color: #217A7E;
  transition: all ease-in-out 0.4s;
}

.sbtn {
  background-color: #152425;
  color: #FFFFFF;
  border-radius: 7px;
  box-shadow: 0 0 0 !important;
  outline: 0 !important;
  border: solid 2px #152425;
  top: 0.2rem;
  right: 0.2rem;
  line-height: 2rem;
  text-transform: capitalize;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
  margin: 2px;
  width: 150px;
  height: 50px;
}

.sbtn:hover {

  background-color: #6C63FF;
  border: solid 2px #6C63FF;
  color: #FFFFFF;
  transition: all ease-in-out 0.4s;
}